/* We need to have all of the Type1 fonts available for math rendering,
 * but the main body text looks a lot better using the OpenType version
 * of Latin Modern Roman rather than Type1.
 */

@font-face {
  font-family: 'Latin Modern Roman';
  font-style: normal;
  font-weight: 400;
  src: url(./lmroman10-regular.otf) format ('opentype');
}

@font-face {
  font-family: 'Latin Modern Roman';
  font-style: italic;
  font-weight: 400;
  src: url(./lmroman10-italic.otf) format ('opentype');
}

@font-face {
  font-family: 'Latin Modern Roman';
  font-style: normal;
  font-weight: 700;
  src: url(./lmroman10-bold.otf) format ('opentype');
}

@font-face {
  font-family: 'Latin Modern Roman';
  font-style: italic;
  font-weight: 700;
  src: url(./lmroman10-bolditalic.otf) format ('opentype');
}


body {
  background: #fff;
  background-color: #fff;
}

.webtex {
  font-family: 'Latin Modern Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  text-rendering: optimizelegibility;
  line-height: 1.3;
}

.webtex .cbox {
  display: inline-block;
  vertical-align: bottom;
}

h1 {
  /* This isn't a great long-term solution -- math won't look good
   * since it won't get bolded */
  font-weight: 700
}
