<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webtex — {{ page.title }}</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-26313513-1']);
	_gaq.push(['_gat._forceSSL']);
	_gaq.push(['_trackPageview']);
	(function () {
	  var ga = document.createElement('script');
	  ga.type = 'text/javascript';
	  ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(ga, s);
	})();
    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
		  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Webtex</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    {% for item in site.data.headernav %}
	      {% assign active = nil %}
	      {% assign href = item.url | replace: 'index.html', '' %}
	      {% if page.url == item.url %}
	        {% assign active = 'active' %}
	        {% assign href = '#' %}
	      {% endif %}
	      <li class="{% if forloop.first %}first{% endif %} {{ active }} {% if forloop.last %}last{% endif %}">
		<a class="{{ active }}" href="{{ href }}">{{ item.text }}</a> <!-- {{ page.url + "foo" }} -->
	      </li>
	    {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/pkgw/webtex/">Fork the code!</a></li>
          </ul>
	</div>
      </div>
    </div>

    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
        </div>
      </div>

      {{ content }}

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright 2014 Peter Williams and collaborators.</p>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
